.adding-words-container {
}

.words-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    max-width: 22rem;
    font-size: 18px;
    line-height: 1.2;
  }

  input {
    margin-top: 10px;
    width: 100%;
  }
}

.join-requests-container {
  background-color: var(--background-secondary);
  border-radius: 12px;
  padding: 6px 32px 32px;
  display: flex;
  flex-direction: column;
  color: black;
  min-width: 200px;

  h3 {
    color: rgba(0, 0, 0, 0.5);
  }
  span {
    font-size: 24px;
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  padding: 0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 30px;

  color: black;
  font-size: 22px;
  font-family: Bebas Neue;

  &:focus-visible {
    outline: 2px solid var(--action-highlight);
    outline-offset: 2px;
  }
  &:hover {
    background-color: transparent;
    opacity: 0.8;
  }
}

.word-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    > span {
      font-size: 24px;
    }
  }

  .icon-button span {
    color: rgba(255, 255, 255, 0.5);
  }
}

.local-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.participants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.words-stats-container {
  margin-top: 50px;
  margin-bottom: 32px;
}

.player-list-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
