@use "sass:list";
@use "sass:math";
@use "sass:string";

.winners {
  font-family: Bangers, sans-serif;
  font-size: 48px;
}
.medal {
  font-size: 60px;
  display: block;
  margin-bottom: 24px;
}
.finished-game-container {
  position: relative;
  > h2 {
    font-family: Hind, sans-serif;
    font-size: 24px;
  }
}

.confetti-animation-container {
  position: absolute;
  width: 300px;
  max-width: 100%;
  height: 230px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: math.random(8);
  $l: math.random(100);
  .confetti-#{$i} {
    position: absolute;

    width: #{$w}px;
    height: #{$w * 0.4}px;
    background-color: list.nth($colors, math.random(3));
    top: -10%;
    left: string.unquote($l + "%");
    opacity: math.random() + 0.5;
    transform: rotate(#{math.random() * 360}deg);
    animation: drop-#{$i}
      string.unquote(4 + math.random() + "s")
      string.unquote(math.random() + "s")
      infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: string.unquote($l + math.random(15) + "%");
    }
  }
}
